<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контактная информация</title>
</head>
<body>
    <section class="py-5">
        <div class="container">
            <h2 class="text-center mb-5 font-size-24" id="сontacts">Контактная информация</h2>
            <div class="row">
                <!-- Первый столбец с контактной информацией, центрированный по вертикали -->
                <div class="col-md-6 mb-4 d-flex flex-column justify-content-center">
                    <div>
                        <h5>Номер телефона:</h5>
                        <p>8 999 (666) 15-15</p>
        
                        <h5>Электронная почта:</h5>
                        <p>globusbest@example.ru</p>
        
                        <h5>Мы находимся по адресу:</h5>
                        <p>xxxx/xx/x</p>
                    </div>
                </div>
        
                <!-- Второй столбец с картой -->
                <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6008.445712274994!2d29.958158935894982!3d57.83008706401808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46bf7c8487928423%3A0x8ddd85bb309dd3da!2z0JTQvdC-LCDQn9GB0LrQvtCy0YHQutCw0Y8g0L7QsdC7Lg!5e0!3m2!1sru!2sru!4v1730634204001!5m2!1sru!2sru"
                        class="map-size" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
</body>
</html>