   <!-- Модальное окно для Политики конфиденциальности -->
   <div class="modal fade text-dark" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="privacyModalLabel">Политика конфиденциальности</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>Сайт создан исключительно для демонстрации. Личные данные пользователей не собираются и не обрабатываются.</p>

                <h6>1. Введение</h6>
                <p>
                    Мы понимаем важность защиты вашей конфиденциальности и стремимся обеспечить безопасность ваших персональных данных. 
                    Настоящая Политика конфиденциальности описывает, как мы собираем, используем и защищаем вашу информацию при использовании нашего сайта и услуг.
                </p>

                <h6>2. Сбор информации</h6>
                <p>
                    Мы можем собирать следующую информацию о вас:
                </p>
                <ul>
                    <li>Личные данные: имя, адрес электронной почты, номер телефона и адрес.</li>
                    <li>Информация об использовании: данные о том, как вы используете наш сайт и услуги.</li>
                </ul>

                <h6>3. Использование информации</h6>
                <p>
                    Мы используем собранную информацию для следующих целей:
                </p>
                <ul>
                    <li>Предоставление и управление нашими услугами.</li>
                    <li>Связь с вами по вопросам, связанным с вашими запросами или услугами.</li>
                    <li>Улучшение нашего сайта и услуг на основе ваших отзывов.</li>
                    <li>Отправка вам информационных материалов и предложений.</li>
                </ul>

                <h6>4. Защита информации</h6>
                <p>
                    Мы принимаем разумные меры для защиты ваших персональных данных от несанкционированного доступа, использования или раскрытия. 
                    Однако ни один метод передачи по Интернету или метод электронного хранения не является на 100% безопасным.
                </p>

                <h6>5. Раскрытие информации третьим лицам</h6>
                <p>
                    Мы не будем продавать или передавать ваши личные данные третьим лицам без вашего согласия, за исключением случаев,
                    когда это требуется по закону или необходимо для предоставления наших услуг.
                </p>

                <h6>6. Ваши права</h6>
                <p>
                    Вы имеете право:
                </p>
                <ul>
                    <li>Запрашивать доступ к вашим личным данным.</li>
                    <li>Запрашивать исправление неточных данных.</li>
                    <li>Запрашивать удаление ваших данных в определенных обстоятельствах.</li>
                    <li>Отказаться от получения маркетинговых материалов в любое время.</li>
                </ul>

                <h6>7. Изменения в Политике конфиденциальности</h6>
                <p>
                    Мы можем время от времени обновлять нашу Политику конфиденциальности. Все изменения будут опубликованы на этой странице,
                    и мы рекомендуем периодически проверять эту страницу на наличие обновлений.
                </p>

                <h6>8. Контактная информация</h6>
                <p>
                    Если у вас есть вопросы или комментарии по поводу нашей Политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу
                    электронной почты: globusbest@example.ru или по телефону: 8 999 (666) 15-15.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>