<section class="py-5">
    <div class="container text-start">
        <h2 class="mb-4" id="journey">Что вы ищете?</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <!-- Первая карточка -->
            <div class="col">
                <div class="card h-100 border-1 shadow-sm card-lift">
                    <div class="card-body text-start">
                        <img src="../assets/icons/airplane.svg" alt="Иконка полётов" class="mb-3 icon-size">
                        <p class="card-title fw-bold fs-6">Полёты</p>
                        <p class="card-text fs-6" >Бронируйте авиабилеты в любую точку мира по выгодным ценам.</p>
                    </div>
                </div>
            </div>
            <!-- Вторая карточка -->
            <div class="col">
                <div class="card h-100 border-1 shadow-sm card-lift">
                    <div class="card-body text-start">
                        <img src="../assets/icons/house.svg" alt="Иконка отелей" class="mb-3 icon-size">
                        <p class="card-title fw-bold fs-6">Отели</p>
                        <p class="card-text fs-6">Найдите идеальное место для проживания во время вашей поездки.</p>
                    </div>
                </div>
            </div>
            <!-- Третья карточка -->
            <div class="col">
                <div class="card h-100 border-1 shadow-sm card-lift">
                    <div class="card-body text-start">
                        <img src="../assets/icons/car.svg" alt="Иконка автомобилей" class="mb-3 icon-size">
                        <p class="card-title fw-bold fs-6">Аренда автомобилей</p>
                        <p class="card-text fs-6">Арендуйте авто для вашего путешествия у лучших компаний по прокату.</p>
                    </div>
                </div>
            </div>
            <!-- Четвертая карточка -->
            <div class="col">
                <div class="card h-100 border-1 shadow-sm card-lift">
                    <div class="card-body text-start">
                        <img src="../assets/icons/case.svg" alt="Иконка путёвок" class="mb-3 icon-size">
                        <p class="card-title fw-bold fs-6">Путевки на отдых</p>
                        <p class="card-text fs-6">Экономьте время и деньги, бронируя перелет и отель вместе.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>