<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карточки с путёвками</title>
</head>
<body>
    <div class="py-5">
        <div class="container text-start">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Первая карточка -->
                <div class="col">
                    <div class="card h-100 border-0 card-lift">
                        <img src="../assets/images/service-images/Cambodia-Kampot.jpg" class="card-img-top rounded-3" alt="Кампот, Камбоджа">
                        <div class="card-body">
                            <p class="card-title"><b>Посетите Кампот, Камбоджа</b></p>
                            <p class="card-price"><b>500.000р/2 недели</b></p>
                            <p class="card-text">Кампот является базой для посещения Слоновьих гор и Национального парка Бокор. Вокруг города много водопадов.</p>
                        </div>
                    </div>
                </div>
                <!-- Вторая карточка -->
                <div class="col">
                    <div class="card h-100 border-0 card-lift">
                        <img src="../assets/images/service-images/Cuba-Havana.jpg" class="card-img-top rounded-3" alt="Гавана, Куба">
                        <div class="card-body">
                            <p class="card-title"><b>Насладитесь г.Гавана на Кубе</b></p>
                            <p class="card-price"><b>250.000р/2 недели</b></p>
                            <p class="card-text">Куба привлекает путешественников своими богатыми природными рекреационными ресурсами — разнообразием ландшафта, земных и водных экосистем.</p>
                        </div>
                    </div>
                </div>
                <!-- Третья карточка -->
                <div class="col">
                    <div class="card h-100 border-0 card-lift">
                        <img src="../assets/images/service-images/Mexico-Mexico.jpg" class="card-img-top rounded-3" alt="Мехико, Мексика">
                        <div class="card-body">
                            <p class="card-title"><b>Изучите г.Мехико в Мексике</b></p>
                            <p class="card-price"><b>50.000р/1 неделя</b></p>
                            <p class="card-text">Столица страны — город Мехико — служит отправной точкой для посещения древнего индейского города Теотиуакан, известного своими культовыми сооружениями — пирамидой Солнца и пирамидой Луны.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>