.carousel-indicators > button {
    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
}
.carousel-inner img {
    width: 100%; /* Ширина 100% от родительского контейнера */
    height: 480px; /* Фиксированная высота */
    object-fit: cover; /* Заполнение контейнера без искажения пропорций */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон под текстом */
}
.carousel-item {
    position: relative; /* Устанавливаем позицию для родительского элемента */
}

.image {
	background: #000;
    border-radius: 12px;
}
.image img {
	opacity: 0.8;
}

/* Уменьшаем отступы внутри карточки */
.card-body {
    padding: 0.5rem 1rem;
}

.card-title {
    font-size: 1.1rem;
    margin: 0.5rem 0 0.25rem 0;
    white-space: nowrap; /* Не переносить текст */
    overflow: hidden; /* Скрыть выходящий за границу текст */
    text-overflow: ellipsis; /* Добавить многоточие */
}

/* Цена */
.card-price {
    font-size: 1rem;
    margin: 0.25rem 0;
    color: var(--highlight-color);
    /* Убираем font-weight для использования тега <b> в HTML */
}

/* Текст описания */
.card-text {
    margin: 0.5rem 0 0;
    color: var(--description-text);
}

/* Дополнительные стили для заголовков формы */
h5 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

/* Отступ для кнопки */
.text-md-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Задаем фиксированную высоту для текстового поля */
textarea.form-control {
    height: 120px; /* Примерная высота, можно отрегулировать */
}
